.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background:black;
    box-shadow: -0.5px -0.5px 2px 2px;
    margin-top: 0.1rem;
    z-index: 1;
}

.logo img {
    width: 30%;
    border-radius: 20px;
}

.menu {
    margin-bottom: 0;
}

.nav__item a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav__item a:hover{
    color: var(--secondary-color);
}

.nav__item a.active__link {
    color: var(--secondary-color);
}

.nav__right {
    margin-left: 8rem;
}

.nav__right a{
    color: #fff;
}

.username-orange {
    color: orange; /* Change this to your desired shade of orange */
}

.nav__right a:hover{
    color: grey;
}


.mobile__menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}

.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: black;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.logout-button {
    height: 48px; /* Set height to 48 pixels */
    display: flex; /* Center text vertically */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally if needed */
}


/*============ make it responsive=========*/
@media only screen and (max-width:992px)
{
    .logo{
        width: 40%;
    }

    .navigation{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.411);
        z-index: 999;
        display: none;
    }

    .nav__item a:hover{
        color: black;
    }

    .nav__item a.active__link {
        color: black;
    }

    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 170px;
        height: 100%;
        background: var(--secondary-color);
        flex-direction: column;
        line-height: 0.5rem;
        justify-content: center;
        z-index: 9999;
    }

    .ri-menu-line{
        color: #fff;
    }

    .show__menu{
        display: block;
    }

    .mobile__menu{
        display: block;
    }
}

@media only screen and (max-width: 768px){
    .logo img{
        width: 80%;
    }

    .menu{
        width: calc(100%-50%);
    }
}

@media only screen and (max-width:500px)
{
    .logo img{
        width: 90px;
    }
    
    .nav__right{

        margin-left: 3px;
    }
    .menu{
        width: 120px;
    }
}
